header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

header h2 { 
    color: var(--color-text);
    font-weight: 200;
    line-height: 1;
    font-size: 2.2rem;

    color: #ffffff;

    margin-bottom: 1rem;
}

header h2 span {
    font-weight: 400;

    color: var(--secondary-color);

    text-shadow: 0 0 18px #41a5cd;
}

header h3 { 
    color: var(--color-text);
    font-weight: 400;
    line-height: 1;
    font-size: 1.4rem;

    color: #ffffff;


    background: var(--gradient);
    padding: 1rem;
    border-radius: .5rem;
}

header h3 span {
    font-weight: 700;

    color: #fff;

    text-shadow: 0 0 18px #41a5cd;
}

header p {
    font-size: 1.6rem;
    font-weight: 200;
    color: #b4c0c5;

    margin-bottom: 2rem;
}

header p span {
    font-weight: 400;
    color: #ced8dc;
}


@media (min-width: 1080px) {
    header {
        margin-bottom: 3rem;
    }

    header h2 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 1.6rem;
    }

    header img.head {
        width: 40%;
    }
}