@import './global.css';
@import './head.css';
@import './home.css';
@import './button.css';
@import './author.css';
@import './portal.css';
@import './form.css';
@import './sectionSlide.css';
@import './sectionSlidePodPah.css';
@import './sectionVsl.css';
@import './sectionDinheiro.css';
@import './divFrase.css';
@import './sectionEstrutura.css';
@import './sectionPq.css';
@import './sectionPromessa.css';
@import './sectionFinal.css';

