#dinheiro {
    overflow: hidden;
    position: relative;

    padding-top: 10rem;
}

#dinheiro header h2 {
    padding-inline: 5%;
}

#dinheiro .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#dinheiro .card {
    padding: 2rem;
    border-radius: .5rem; 

    display: flex;
    gap: 1rem; 
    align-items: center;
    text-align: left;
    width: 100%;

    /* From https://css.glass */
    background: rgba(1, 23, 31, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(29, 79, 97, 0.3);
    box-shadow: 0 0 8px #41a5cd46;
}

#dinheiro .card h3 {
    color: #b4c0c5;
    font-size: 1.4rem;
    font-weight: 400;
}

#dinheiro .card ion-icon {
    min-width: .8rem;
    min-height: .8rem;
    max-width: .8rem;
    max-height: .8rem;

    color: var(--secondary-color);
}

#dinheiro h4 {
    margin-top: 2rem;
    color: #b4c0c5;
    font-size: 1.6rem;
}

@media (min-width: 1080px) {
    section#dinheiro {
        padding-top: 14rem;
    }

    section#dinheiro .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section#dinheiro .card {
        justify-content: center;
        height: 100%;
    }

    section#dinheiro h4 {
        margin-top: 4rem;
    }
}