#promessa {
    overflow: hidden;
    position: relative;
}

#promessa .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-block: 2rem;
}

#promessa .card {
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;

    position: relative;

    background: linear-gradient(to top, #41a5cd20, transparent);
}

#promessa .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    box-shadow: 0 0 18px #41a5cdc5;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--secondary-color);
}

#promessa .card img {
    width: 4rem;
    box-shadow: 0 0 18px #41a5cd46;
}

#promessa .card h3 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

#promessa .card h3 span {
    font-size: 1.8rem;
    color: var(--secondary-color);
    text-shadow: 0 0 18px #41a5cd;
}

#promessa .card p {
    font-size: 1.6rem;
    font-weight: 200;
    color: #b4c0c5;
}

#promessa header h3 {
    margin-block: 1rem;
}

#promessa header p {
    margin-bottom: 0;
}

#promessa header p.dois {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}


@media (min-width: 1080px) {
    section#promessa .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 4rem;
    }

    section#promessa .card {
        height: 100%;
    }

    section#promessa header p {
        font-size: 2rem;
    }

    section#promessa header p.um {
        font-size: 1.6rem;
        margin-top: .5rem;
    }
}