@keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }

  #slide {
    padding-block: 0;
    position: relative;

    margin-top: 0;
  }

  #slide .slide-content {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 99.5%;    
  }

  #slide .slide-content.one {
    transform: rotate(4deg);

    filter: blur(4px);
    opacity: .9;
  }

  #slide .slide-content.two {
    transform: rotate(0deg);

    box-shadow: -10px -10px 50px #0000004d;
  }
  
  #slide .slide {
    overflow: hidden !important;
    padding: 2rem 0;

    display: flex;
    white-space: nowrap;
  
    position: relative;
  }

  #slide .slide .slide-text {
  }

  #slide .slide.um {
    background: var(--gradient);
  }


  #slide .slide.dois {
    background: var(--gradient);
    box-shadow: 0 0 38px #41a5cd94;
  }
  
  #slide .slide:before,
  #slide .slide:after {
    content: '';
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    z-index: 10;
  }
  
  #slide .slide:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #0d1b2a);
  }

  #slide .slide.dois:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #0d1b2a);
  }
  
  #slide .slide:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #0d1b2a);
  }
  
  #slide .slide-text {
    animation: slide 40s infinite linear;
    display: flex;
    align-items: center;
  }
  
  #slide .slide-text p {
    font-family: var(--Grafite);
    font-size: 1.2rem;
    margin: 0 1rem;
    position: relative;
    font-weight: 600;

    color: #ffffff;

    /* background: #ffffff13;
    border-radius: 5rem;
    padding: 1.5rem 3rem; */
  }

  #slide .slide-text ion-icon {
    color: #000000;
    font-size: 2rem;
    margin: 0 2rem;
    font-weight: 900;
    position: relative;
  }

  #slide .slide img {
    width: 3rem;
  }
  
  #slide .slide-text p:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 40%;
    left: -1.2rem;
  }

  /* #slide .slide-text p:nth-child(odd){
  background: var(--azul-1);
}

#slide .slide-text p:nth-child(even){
  background: rgba(255, 255, 255, 0.179);
} */

#slide.oito {
  position: absolute;
  z-index: 1;
  top: 40%;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;

  z-index: -1;
}

#slide.dez {
  position: absolute;
  z-index: 1;
  top: 43%;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;

  z-index: 1;
}

@media (min-width: 1080px) {
  #slide .slide:before,
  #slide .slide:after {
    width: 25rem;
  }

  #slide .slide-content,
  #slide .slide-content.um,
  #slide .slide-content.dois {
    max-width: none;
  }

  #slide .slide-content.two {
  }

  #slide.um {
    margin-top: 0;
  }

  #slide.dez {
    filter: blur(3px);
  }

  #slide .slide-text p {
    font-size: 1.4rem;
    margin: 0 2rem;
  }

  #slide .slide-text p:after {
    width: 5px;
    height: 5px;
    left: -2.3rem;

  }

  #slide .slide-text ion-icon {
    font-size: 3rem;
    margin: 0 2rem;
  }

  #slide .slide img {
    width: 4rem;
  }

  section#slide .slide-text {
    animation: slide 50s infinite linear;
  }

  section#slide .slide.dois:before {
    display: none;
  }
}